<div class="col-sm-12">
    <div class="">
        <h2 class="title text-center">DETALJI NARUDŽBE <i class="fa fa-shopping-cart"></i></h2>
    </div>
</div>

<div class="container" *ngFor="let d of order">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Br.</th>
                    <th>Slika</th>
                    <th>Proizvod</th>
                    <th>Jedinična cijena</th>
                    <th>Količina</th>
                    <th>Sniženje</th>
                    <th>Ukupno</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let o of d?.orderDetailsList;let i = index">
                    <td>{{i+1}}</td>
                    <td><img style="width: 40px; height: 40px;" [src]="sanitize(base + o?.photo)" id="imgSize" /></td>
                    <td>{{o?.productName}}</td>
                    <td>{{o.unitPrice | number:'1.2-2'}} KM</td>
                    <td>{{o.quantity}}</td>
                    <td>{{o.discount}}%</td>
                    <td style="font-weight: bold;">{{o.totalPrice | number:'1.2-2'}} KM</td>
                </tr>

            </tbody>
        </table>
        <hr>
        <div class="col-md-12" style="text-align: right;">
            <h1>UKUPNO: <strong style="color: red;">{{Total | number:'1.2-2'}} KM</strong></h1>
        </div>
    </div>
</div>

<div *ngIf="displayReason" class="col-lg-12" style="border: 1px solid #dc3545;">

    <div class="form-row" id="page">
        <h1> <strong>RAZLOG</strong> </h1>
    </div>

    <div class="form-row" id="page">
        <h3 style="color: #dc3545;"><strong>{{reasonText}}</strong></h3>
    </div>


</div>