<header id="header">
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href="#"><i class="fa fa-phone"></i> +387615876323</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i> info@supplements-shop.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-pills">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="header-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left item">
            <a href="#"><h1><span>SUPPLEMENTS</span>-SHOP</h1></a>
          </div>

        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-pills">
              <li><a href="#"><i class="fa fa-user"></i> Account</a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i> Korpa</a></li>
              <li><a href="#"><i class="fa fa-lock"></i> Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a href="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Početna</a></li>
              <li><a href="#" routerLinkActive="active" >Proizvodi</a></li>
              <li><a href="#" routerLinkActive="active" >Narudžbe</a></li>
              <li><a routerLink="/Employees" routerLinkActive="active" >Uposlenici</a></li>
              <li><a routerLink="/Users" routerLinkActive="active" >Klijenti</a></li>
              <li><a routerLink="/Cities" routerLinkActive="active" >Gradovi</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      
      
      <div class="col-sm-12">
       

          <div class="">
            <router-outlet></router-outlet>
          </div>
          
        
        
      </div>
      
    </div>
  </div>
</section>
