
<header id="header">
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href="#"><i class="fa fa-phone"></i> +387615876323</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i> info@supplements-shop.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-pills">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="header-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left item">
            <a><h1><span>SUPPLEMENTS</span>-SHOP</h1></a>
          </div>

        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-pills">
              <li *ngIf="isLogged()"><a routerLink="/User/Account" routerLinkActive="active"><i class="fa fa-user"></i> Profil</a></li>
              <li *ngIf="isClient()"><a routerLink="/Cart" routerLinkActive="active"><i class="fa fa-shopping-cart"></i> Korpa <p style="font-size: 12px;" class="badge bg-danger">{{totalItem}}</p></a>
              </li>

              <li *ngIf="!isLogged()"><a routerLink="/User/Register" routerLinkActive="active"><i class="fa fa-lock"></i> Registruj se</a></li>             
              <li *ngIf="!isLogged()"><a routerLink="/User/Login" routerLinkActive="active" (click)="onLogout()"><i class="fa fa-unlock"></i> Uloguj se</a></li>
              <li *ngIf="isLogged()"><a routerLink="/User/Login" (click)="onLogout()"><i class="fa fa-lock"></i> Odjava</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-nav-header></app-nav-header>
</header>

<section>
  <div class="container">
    <div class="row">
      
      
      <div class="col-sm-12">
       

          
            <router-outlet></router-outlet>
          
          
        
        
      </div>
      
    </div>
  </div>
</section>
