<div class="container">
    <div class="row col-sm-3">
        <div class="left-sidebar">
            <h2>KATEGORIJE</h2>
            <div class="panel-group category-products" id="accordian">
                
                <div class="my-sidebar">
                    <div class="menu">
                        <ul class="item">
                        <a class="ctg" (click)="allProducts()">SVI PROIZVODI</a>
                        <hr>
                    </ul>
                        <ul class="item" *ngFor="let c of service.catList">
                            <a class="ctg" (click)="catProducts(c.productCategoryId)">
                                {{c.name}}
                            </a>
                            <li class="smenu" *ngFor="let s of c.subCategory">
                                
                                    <a class="stg" (click)="subProducts(s.productSubCategoryId)" >
                                        {{s.name}}<br>
                                    </a>
                                
                                </li>
                        </ul>
                    </div>
                </div>



                <div class="menu">
                    <h2>BRENDOVI</h2>
                    <div class="menu">
                        <ul class="item" *ngFor="let b of service.brandList">
                            <li ><a class="ctg" (click)="brandProducts(b.brandId)">{{b.name}} ({{b.productCounter}})</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <div class="row col-sm-9" style="float: right;">
        <h2 class="title text-center col-sm-12">PROIZVODI</h2>
        <div class="row col-md-9" >
            <div class="search pull-left" id="search2">
              <input #box type="text" placeholder="Pretraga" (keyup)="productsByName(box.value)"/>
            </div>
          </div>
        <div class="row col-sm-12">
            <hr>
        </div>

        <div class="col-sm-12" >
        <div class="col-sm-4" *ngFor="let p of service.list">
            <div class="product-image-wrapper" >
              <div class="single-products">
                  <div class="productinfo text-center">
                    <img [src]="sanitize(base + p.photoAsBase64)" id="imgSize" style="cursor: pointer;" (click)="productDetails(p.productId)" />
                    <img *ngIf="p.discount>0"src="assets/images/home/sale.png" class="new" alt="" />

                    <h2 *ngIf="p.discount>0" style="color: green;">{{p.totalPrice | number:'1.2-2'}} KM</h2>                   
                    <h2 *ngIf="p.discount==0">{{p.totalPrice | number:'1.2-2'}} KM</h2>                   
                    <p class="font-weight-bold" style="cursor: pointer;" (click)="productDetails(p.productId)">{{p.name}}</p>
                        <input [formControl]="qty" type="number" min="1" max="p.unitInStock" value="1" inputmode="numeric" pattern="[0-9]*" style="width: 25%;">
                        <br>
                        <br>
                    <button *ngIf="canActivate()" style="font-size: 14px;" (click)="addtoCart(p)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Dodaj u korpu</button>
                  </div>
              </div>
            </div>
          </div>
          
          
        </div>
          


    </div>
</div>