<div class="col-sm-12">
    <div class="">
        <h2 class="title text-center">GRADOVI</h2>
    </div>
</div>



<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4">
            <app-cities-form></app-cities-form>
        </div>

        <div class="col-sm-8">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Naziv</th>
                        <th>Poštanski broj</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of service.list">
                        <td>{{c.name}}</td>
                        <td>{{c.postalCode}}</td>
                        <td>
                            <i class="far fa-trash-alt fa-lg text-danger" style="cursor: pointer;"
                                (click)="onDelete(c.cityId)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>