<form novalidate autocomplete="off" #form="ngForm" (submit)=onSubmitCategory(form)>


    <div class="form-group"
    [class.has-error]="name.invalid && name.touched"
    [class.has-success]="name.valid">
        <label>NAZIV</label>
        <input class="form-control form-control-lg" placeholder="Naziv kategorije" name="name" #name="ngModel"
            [(ngModel)]="service.formData.name" required maxlength="50" minlength="2">
        <span class="help-block" *ngIf="name.invalid && name.touched">Obavezno polje (min-2)</span>

    </div>


    <br>

    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">DODAJ</button>
    </div>


</form>