<div class="col-sm-12">
    <div class="">
        <h2 class="title text-center">PROIZVODI</h2>
    </div>
</div>


<div class="col-lg-12">
    <form novalidate autocomplete="off" [formGroup]="form" (submit)=onSubmit(form)>
        <div>
            <div class="form-row" id="page">
                <div class="form-group col-md-4">
                    <label>NAZIV</label>
                    <input class="form-control form-control-lg" placeholder="Naziv proizvoda"
                    formControlName="name" required maxlength="50" minlength="2">
                </div>
            </div>



            <div class="form-row" id="page">
                <div class="form-group col-md-4">
                    <label>CIJENA</label>
                    <input type="number" class="form-control form-control-lg" placeholder="Cijena"
                    formControlName="unitPrice">
                </div>
            </div>

            <div class="form-row" id="page">
                <div class="form-group col-md-4">
                    <label>KOLIČINA</label>
                    <input type="number" class="form-control form-control-lg" placeholder="Količina" min=1
                    formControlName="unitInStock">
                </div>
            </div>

            <div class="form-row" id="page">
                <div class="form-group col-md-4">
                    <label>SNIŽENJE (%)</label>
                    <input type="number" class="form-control form-control-lg" placeholder="Sniženje" min=0
                    formControlName="discount">
                </div>
            </div>

            <div class="form-row" id="page">
                <div class="form-group col-md-4">
                    <label>BREND</label>
                    <select style="font-size: 12px;" class="form-control" required formControlName="brandId">
                        <option style="font-size: medium;" *ngFor="let c of brandsList" [ngValue]="c.brandId">
                            {{c.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-row" id="page">
                <div class="form-group col-md-4">
                    <label>KATEGORIJA</label>
                    <select style="font-size: 12px;" class="form-control" required
                    formControlName="productCategoryId" name="productCategoryId"
                        (change)="getSubs($event.target.value)">
                        <option style="font-size: medium;" *ngFor="let c of catList" [value]="c.productCategoryId">
                            {{c.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-row" id="page">
                <div class="form-group col-md-4">
                    <label>POTKATEGORIJA</label>
                    <select style="font-size: 12px;" class="form-control"
                    formControlName="productSubCategoryId" name="productSubCategoryId">
                        <option></option>
                        <option style="font-size: medium;" *ngFor="let s of subList" [ngValue]="s.productSubCategoryId">
                            {{s.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-row" id="page">
                <div class="form-group col-md-4">
                    <label>SLIKA(3MB max)</label>
                    <input type="file" (change)="onFileChange($event)" /><br />
                    <div *ngIf="myImage">
                        <img [src]="myImage | async" width="130px" height="130px">
                    </div>

                </div>
            </div>

            <div class="form-row" id="page">
                <div class="form-group col-md-4">
                    <label>OPIS</label>
                    <textarea formControlName="description" name="description"></textarea>
                </div>
            </div>



        </div>



        <div class="row" id="page">
            <hr class=" col-md-4">
        </div>

        <div class="form-row" id="page">
            <button class="btn btn-info btn-lg btn-block col-md-4" type="submit"
                [disabled]="form.invalid">DODAJ</button>
        </div>

        <div class="row" id="page">
            <hr class=" col-md-4">
        </div>

        <div class="form-row" id="page">
            <button class="btn btn-danger btn-lg btn-block col-md-4" [routerLink]="['/Products']">ODUSTANI</button>
        </div>

        <br>
    </form>
</div>